<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Definição de Pontos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Definição de Pontos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <input type="file" (change)="onImageUpload($event)" accept="image/*" />
        <!-- Container de pontos que também contém a imagem -->
        <div id="points-container" style="position: relative; width: 100%; height: auto; border: 1px solid black;">
          <!-- Imagem carregada -->
          <ion-img *ngIf="imageSrc" [src]="imageSrc" style="width: 100%; height: auto; display: block;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
